.img{
    width: 400px;
    height: 100px;
    float: left;
     padding: 10px;
    position:auto;
 }
.header{
    margin: 0;
}
.h1-1{
    margin-left: 10%;

}
.nav-area{
    float: right;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:hotpink;
    text-decoration: none;
    font-family: poppins;
    font-size: 14px;
    float: right;
    margin-right: 20px;
}
.nav-area li a:hover{
    background-color: white;
    color: indigo;

}

.color{
    color: goldenrod;
}
.hello-card-footer .btn {
    float:right;

}
.hello-card-footer{
    
    border: 0;
    background-color: white;
    float:right;
    margin-bottom: 300px;
    
}
.color .h1{
    color: goldenrod;
    border: none;
}
}
.hello-card-footer .icon .img {
    height: 5px;
    margin-right: 10%;
  
}
.card-img-top{
    background-color: lightgray;
    border-radius: 5px;
    padding: auto;
    height: 50%;
    width: 95%;
}


.card-img{
    margin-top: 15px;
    margin-left:40px;
    width: 60%;
    height: 80%;
}
.hello-card{
    border: 0;
    padding-top: 20px;
    padding-left: 20px;
    

}
.hello-slide .carousel-item{
background-color:goldenrod;
    
}
.lastone img{
    height: 50%;
    width: 50%;
    float:right;
    margin-bottom: 30px;
}